

<td><%= task.name %></td>
<td> <%= task.due_date %></td>
<% if task.status %>
 <td style="color:green"><%= "Completed" %></td>
 <% else%>
 <td style="color:Red"><%= "Pending"%></td>
 <%end%>
 
<td><%= link_to "Show this task", task ,class:"btn btn-primary btn-sm"%></td>

