<%begin%>
<%if notice[1]>0 %>
<p class="alert alert-success"> <%= notice[0] %> </p>
<%else%>
<p class="alert alert-danger"> <%= notice[0] %> </p>
<%end%>
<%rescue%>
<%end%>
<h1 class="display-3">Tasks List</h1>
<br>
<br>
<div id="tasks">
<table class="table">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Due Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% @tasks.each do |task| %>
   <tr scope="row"> <%= render task %></tr>
  <% end %>
  </tbody>
</table>
</div>

<%= link_to t('link.new_task'), new_task_path ,class:"btn btn-success"%>
<%= link_to "Download PDF", tasks_path(format: :pdf),class:"btn btn-success"%>
<%= link_to "Download CSV", tasks_path(format: :csv),class:"btn btn-success"%>
