<%begin%>
<%if notice[1]>0 %>
<p class="alert alert-success"> <%= notice[0] %> </p>
<%else%>
<p class="alert alert-danger"> <%= notice[0] %> </p>
<%end%>
<%rescue%>
<%end%>

<%= render "tasks/taskCard",:task=>@task %>

<table class="table table-light">
  <thead class="bg-light">
    <tr>
      <th></th>
      <th>First name</th>
      <th>Last name</th>
      <th>Dob</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
<% User.where(id: @task.user_id).each do |user|%>
<tr><%= render "users/user", :user => user %>
</tr>
<%end%>
</tbody>
</table>

<div>
  <%= button_to t('action.destroy_task'), @task, method: :delete , class:"btn btn-danger"%>
</div>
