<div class="card">
  <div class="card-header">
    <center>Current User Details </center>
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= user.first_name %>
    <%= user.last_name %> </h5>
    <p class="card-text"> <%= user.dob %> </p>
    <% if current_user.id == user.id%>

    <%= link_to t('action.edit_user'), edit_user_registration_path(@user), class:"btn btn-warning m-3" %> 

    <%end %>
  <%= link_to t('action.back_user'), users_path,class:"btn btn-secondary m-3"  %>
  </div>
</div>