<%begin%>
<%if notice[1]>0 %>
<p class="alert alert-success"> <%= notice[0] %> </p>
<%else%>
<p class="alert alert-danger"> <%= notice[0] %> </p>
<%end%>
<%rescue%>
<%end%>

<h1 class="display-3">Users List</h1>
<br>
<br>
<table class="table table-light">
  <thead class="bg-light">
    <tr>
      <th></th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email </th>
      <th>Date of Birth</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
<div id="users">
  <% @users.each do |user| %>
  <tr>
    <td scope="row"></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.dob %></td>
  </tr>
  <% end %>
</div>
</tbody>
</table>

