<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mb-3 row">
    <%= f.label :email ,class:"col-sm-4 col-form-label" %><br />
    <div class="col-sm-4">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-6" %>
  </div>
  </div>

  <div class="field mb-3 row">
    <%= f.label :password ,class:"col-sm-4 col-form-label" %><br />
   <div class="col-sm-4">
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control col-6" %>
  </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mb-3 row">
      <%= f.label :remember_me, class:"col-sm-4 col-form-label" %> 
      <div class="col-sm-4">
      <%= f.check_box :remember_me,class:"form-check-input"%>
    </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('link.sign_in'),class:"btn btn-success" %>
  </div>
<% end %>
<br>
 <%= link_to t('action.forgot_password'), new_password_path(resource_name) %><br />

